{% extends 'base.html.twig' %}

{% block title %}Hello JqueryController!{% endblock %}

{% block body %}
<span id="cible"></span>
{% endblock %}


{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>
$(document).ready(function() {
    $('#cible').append('coco');
});
</script>
{% endblock %}
