{% extends 'base.html.twig' %}

{% block title %}Hello JqueryController!{% endblock %}

{% block body %}
<span id="cible" class="badge badge-secondary"></span>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('test2') }}
{% endblock %}
